*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

header {
  grid-area: header;
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 2fr;
  align-content: center;
  /* background-color: #004953; */
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

.register-form,
.signin-form {
  padding: 1.5rem 1rem;
}

.register-form div,
.signin-form div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.2;
}

.register-form input,
.signin-form input {
  height: 2rem;
}

.footer-title {
  background-color: #004953;
  color: #ffffff;
  padding-top: 0.25rem;
}

.app-brand h2 {
  color: #004953;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-rows: 2fr 6fr 6fr 3fr;
  grid-template-areas:
    "header"
    "hero"
    "extra"
    "footer";
  justify-items: flex-start;
  max-width: 1280px;
  min-height: 90vh;
  margin: auto;
  /* overflow: hidden; */
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.sign-in-btn {
  width: 5.5rem;
  height: 2.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.35rem;
}

.sign-up-link {
  width: 6rem;
  height: 1rem;
  font-size: 0.75rem;
  text-align: center;
  color: #004953;
  padding: auto;
}

.home-page {
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "left center right";
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 4rem;
}

.home-left {
  grid-area: left;
  width: 100%;
  height: 100%;
  padding-top: 14rem;
  /* background-image: url("./backgl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; */
}

.home-left img {
  margin-right: 5rem;
  border-radius: 50%;
}

.home-center {
  grid-area: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  background-image: url("./backg1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.home-center p {
  font-size: 1.5rem;
  line-height: 1.2;
}

.home-center span {
  font-size: 1rem;
  line-height: 1;
}

.home-right {
  grid-area: right;
  width: 100%;
  height: 100%;
  padding-top: 14rem;
  /* background-image: url("./backgr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; */
}

.home-right img {
  margin-left: 5rem;
  border-radius: 50%;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "developer contrib sponsors contact"
    "dev_info conb_info spon_info cont_info"
    "copy_rght copy_rght copy_rght copy_rght";
  column-gap: 1rem;
  text-align: center;
  width: 100%;
  background-color: #dcfbff;
  padding: 0.5rem 0;
}

.footer-bottom {
  padding-top: 0.25rem;
}

.footer-details {
  margin-top: 0.5rem;
}

.developer-info {
  grid-area: dev_info;
  width: 100%;
  text-align: center;
}

.developer-info p {
  width: 100%;
}

.contributor-info {
  grid-area: conb_info;
  width: 100%;
  text-align: center;
}

.sponsor-info {
  grid-area: spon_info;
  width: 100%;
  text-align: center;
}

.contact-info {
  grid-area: cont_info;
  width: 100%;
  text-align: center;
}

.copy-right {
  grid-area: copy_rght;
  align-self: center;
  padding-top: 0.5rem;
}

.register-page,
.signin-page {
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0.25rem 0;
}

.register-left,
.signin-left {
  grid-area: left;
  width: 70%;
  height: 80%;
  margin: 4rem 0;
  border: 8px solid #004953;
}

.register-right,
.signin-right {
  grid-area: right;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  background-image: url("./backg1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.register-right h2,
.signin-right h2 {
  font-size: 2.5rem;
}

.register-right p,
.signin-right p {
  font-size: 2rem;
  line-height: 1.2;
}

.page-title {
  display: grid;
  grid-template-columns: 5fr 1fr;
  height: 3rem;
  background-color: #004953;
  color: #dcfbff;
}

.page-title-close {
  color: #ffffff;
}

.page-title a {
  justify-self: right;
  width: 2rem;
  height: 2rem;
  background-color: red;
  margin: 0.25rem 1rem;
  padding: 0.25rem;
}

/************************** Budget Page ****************************************/

.budget-page {
  grid-area: hero;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 90%;
  grid-template-areas:
    "bud-header"
    "bud-body";
  width: 100%;
}

.budget-page-header {
  grid-area: bud-header;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
  font-weight: 600;
  background-color: #dcfbff;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.budget-page-header div {
  text-align: center;
}

.budget-page-body {
  grid-area: bud-body;
  width: 100%;
  display: grid;
  grid-template-columns: 85% 13%;
  grid-template-areas: "bud-area bud-nav";
  column-gap: 1rem;
}

.budget-area {
  grid-area: bud-area;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  grid-template-rows: 5% 8% 86%;
  grid-template-areas:
    "period period period period"
    "detail open-b trans-b curr-b"
    "deta-d open-d trans-d curr-d";
}

.budget-period {
  grid-area: period;
  padding: 0.25rem;
  text-align: center;
}

.budget-details {
  grid-area: detail;
  margin-left: 0.5rem;
  background-color: #dcfbff;
  font-weight: 600;
}

.budget-open {
  grid-area: open-b;
  text-align: right;
  background-color: #dcfbff;
  font-weight: 600;
  padding: 0.5rem;
}

.budget-trans {
  grid-area: trans-b;
  text-align: right;
  background-color: #dcfbff;
  font-weight: 600;
  padding: 0.5rem;
}

.budget-balance {
  grid-area: curr-b;
  text-align: right;
  background-color: #dcfbff;
  font-weight: 600;
  padding: 0.5rem;
}

.budget-nav {
  grid-area: bud-nav;
  background-color: #004953;
}
